.custom-date-picker {
  position: relative;
  display: inline-block;
  width: 230px;
}

.custom-date {
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-radius: 4px;
  color: #585858;
}

.calendar-icon {
  margin-left: 10px;
}

.custom-date-input {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  opacity: 0;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.selected-date {
  margin-top: 10px;
}
